{% extends 'main/base.html' %}

{% load staticfiles%}

{% block title %}Kidz Next Door School | About{% endblock %}

{% block hero %}
{% endblock %}

{% block content %}
<section id="grow">
  <div class="parallax-container">
    <div class="parallax hide-on-med-and-down"><img src="{% static 'main/images/abstract.png' %}" class="responsive-img" /></div>
    <div class="parallax hide-on-large-only"><img src="{% static 'main/images/12.jpg' %}" class="responsive-img" /></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Grow</h2>
      <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
    </div>
  </div>
</section>

<section id="play">
  <div class="parallax-container">
    <div class="parallax hide-on-med-and-down"><img src="{% static 'main/images/abstract1.jpg' %}" class="responsive-img" /></div>
    <div class="parallax hide-on-large-only"><img src="{% static 'main/images/13.jpg' %}" class="responsive-img" /></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Play</h2>
      <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
    </div>
  </div>
</section>

<section id="learn">
  <div class="parallax-container">
    <div class="parallax hide-on-med-and-down"><img src="{% static 'main/images/abstract4.jpg' %}" class="responsive-img" /></div>
    <div class="parallax hide-on-large-only"><img src="{% static 'main/images/15.jpg' %}" class="responsive-img" /></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Learn</h2>
      <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
    </div>
  </div>
</section>

<section id="gallery">
  <div class="parallax-container">
    <div class="parallax hide-on-med-and-down"><img src="{% static 'main/images/abstract3.jpg' %}" class="responsive-img" /></div>
    <div class="parallax hide-on-large-only"><img src="{% static 'main/images/14.jpg' %}" class="responsive-img" /></div>
  </div>
  <div class="section white">
    <div class="row container">
      <h2 class="header">Gallery</h2>
      <div class="slider">
        <ul class="slides">
          <li>
            <img src="{% static 'main/images/7.jpg' %}" />
            <div class="caption right-align">
              <h3>Classtime</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="{% static 'main/images/8.jpg '%}" />
            <div class="caption left-align">
              <h3>School Trips</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="{% static 'main/images/9.jpg' %}" />
            <div class="caption center-align">
              <h3>Sports Day</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
          <li>
            <img src="{% static 'main/images/10.jpg' %}" />
            <div class="caption left-align">
              <h3>Graduation</h3>
              <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
{% endblock %}
