{% extends 'main/base.html' %}

{% load staticfiles%}

{% block title %}Kidz Next Door School | Admissions{% endblock %}

{% block hero %}
{% endblock %}

{% block content %}
<section class="row section white">
  <article>
    <div class="col s12 m9" id="day-care">
      <div class="card medium blue accent-1">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="{% static 'main/images/book2.jpg' %}">
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">Day Care<i class="material-icons right">more_vert</i></span>
          <p><a href="{% static 'main/docs/KNDG Application for admission form.pdf' %}" download="Baby Class Admission Form">Download Admission Form</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Day Care<i class="material-icons right">close</i></span>
          <p>
            We consider play of utmost importance throughout the Early Learning Stages of a child. This level targets children between 2 to 3 years of age and are offered an opportunity to socialize, play and become integrated into the nursery environment. Other areas of focus are:
          </p>
            <li>Toilet training</li>
            <li>Communication</li>
            <li>Introduction to Basic language</li>
            <li>Preparations to writing (building finger muscles)</li>
          <p>
            The concepts your child will accrue from this level prepares them for Baby Class.
          </p>
        </div>
      </div>
    </div>
  </article>

  <article>
    <div class="col s12 offset-m3 m9" id="baby-class">
      <div class="card medium blue accent-1">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="{% static 'main/images/book5.jpg' %}">
        </div>
        <div class="card-content">
          <span class="card-title activator white-text text-darken-4">Baby Class<i class="material-icons right">more_vert</i></span>
          <p><a href="{% static 'main/docs/KNDG Application for admission form.pdf' %}" download="Baby Class Admission Form">Download Admission Form</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Baby Class<i class="material-icons right">close</i></span>
          <p>
            This level is for children between 3-4 years old. We will equip your child with knowledge that will ascertain they are able to pronounce the sounds (a-z) and numbers too. Speech and language is developed in an enjoyable way through storytelling and play. In addition, numeracy and literacy skills come through matching numbers, shapes and colors.  Motor skills are also developed at this stage through painting, cutting, tearing and using play dough. These skills will fully prepare your child for Middle Class (Nursery).
          </p>
        </div>
      </div>
    </div>
  </article>

  <article>
    <div class="col s12 m9" id="nursery">
      <div class="card large blue accent-1">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="{% static 'main/images/book.jpg' %}">
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">Nursery<i class="material-icons right">more_vert</i></span>
          <p><a href="{% static 'main/docs/KNDG Application for admission form.pdf' %}" download="Baby Class Admission Form">Download Admission Form</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Nursery<i class="material-icons right">close</i></span>
          <p>
            Here, we teach numbers and sound formation, handwriting, introduction to phonics, reading (sound &amp; Read book 1, key-words 1a-2a), coloring and pattern learning. "Look and say" words and phonics are introduced leading to 2 letter or 3 letter words.  Language and motor skills continue to develop and all these concepts learned are preparatory for the Pre-Unit level.
          </p>
        </div>
      </div>
    </div>
  </article>

  <article>
    <div class="col s12 offset-m3 m9" id="pre-primary">
      <div class="card large blue accent-1">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="{% static 'main/images/book3.jpg' %}">
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">Pre-Primary<i class="material-icons right">more_vert</i></span>
          <p><a href="{% static 'main/docs/KNDG Application for admission form.pdf' %}" download="Baby Class Admission Form">Download Admission Form</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Pre-Primary<i class="material-icons right">close</i></span>
          <p>
            This level is very important as it prepares the child for primary education – from class one onwards. Reading becomes fluent with practice and more advanced phonic work. Formal writing is introduced and hand control is now well established. Formal number work (addition and subtraction) is introduced, including general knowledge.
            <strong>At the end of the 3 year programme, each child should be developed to his or her full potential at this age.</strong>
          </p>
        </div>
      </div>
    </div>
  </article>

  <article>
    <div class="col s12 m9" id="primary">
      <div class="card large blue accent-1">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="{% static 'main/images/book1.jpg' %}">
        </div>
        <div class="card-content">
          <span class="card-title activator text-darken-4">Primary<i class="material-icons right">more_vert</i></span>
          <p><a href="{% static 'main/docs/KNDG Application for admission form.pdf' %}" download="Baby Class Admission Form">Download Admission Form</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Primary<i class="material-icons right">close</i></span>
          <p>
            Kidz Next Door School recognizes that each child is an individual; that all children are creative; that all children need to succeed. Therefore, Kidz Next Door School in collaboration with parents and staff respects the individual needs of children; fosters a caring and creative environment; and emphasizes the social, emotional, physical, intellectual development of each child while respecting their gifts and talents.
            The School aims to provide a happy, caring and stimulating environment where children will recognize and achieve their fullest potential, so that they can make their best contribution to society.
            Pupils are encouraged to grow into well-educated, confident, self-disciplined young adults with the potential to be future leaders.<br />

            We work hand in hand with parents to ensure that the performance of their pupils, both in academic curriculum and life skills are of high quality.  We pride ourselves with highly trained and experienced personnel to ascertain they give their best to your child.
          </p>
        </div>
      </div>
    </div>
  </article>
</section>
{% endblock %}
