{% load staticfiles %}
<!doctype html>
<html lang="en-us">
<head>
  <title>{% block title %}Kidz Next Door School {% endblock %}</title>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Import fonts (Raleway, Lato) -->
  <link href="https://fonts.googleapis.com/css?family=Lato|Raleway" rel="stylesheet">

  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

  <!-- Master CSS -->
  <link rel="stylesheet" href="{% static 'main/css/master.css' %}" />

  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>

  {% block header %}
  <header class="transparent">
    <div class="navbar-fixed transparent">
      <nav class="indigo">
        <div class="nav-wrapper">
          <a href="{% url 'main:index' %}" class="brand-logo">KIDZ NEXT DOOR</a>
          <ul id="slide-out" class="side-nav">
            <li class="no-padding">
              <ul class="collapsible collapsible-accordion">
                <li>
                  <a class="collapsible-header">About
                    <i class="material-icons right">&#xE5C5;</i>
                  </a>
                  <div class="collapsible-body">
                    <ul>
                      <li><a href="{% url 'main:about' %}#grow">Grow</a></li>
                      <li><a href="{% url 'main:about' %}#play">Play</a></li>
                      <li><a href="{% url 'main:about' %}#learn">Learn</a></li>
                      <li><a href="{% url 'main:about' %}#gallery">Gallery</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
            <li class="no-padding">
              <ul class="collapsible collapsible-accordion">
                <li>
                  <a class="collapsible-header">Key Dates
                    <i class="material-icons right">&#xE5C5;</i>
                  </a>
                  <div class="collapsible-body">
                    <ul>
                      <li><a href="{% url 'main:dates' %}#!">Term I</a></li>
                      <li><a href="{% url 'main:dates' %}#!">Term II</a></li>
                      <li><a href="{% url 'main:dates' %}#!">Term III</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
            <li class="no-padding">
              <ul class="collapsible collapsible-accordion">
                <li>
                  <a class="collapsible-header">Admissions
                    <i class="material-icons right">&#xE5C5;</i>
                  </a>
                  <div class="collapsible-body">
                    <ul>
                      <li><a href="{% url 'main:admissions' %}#day-care">Day Care</a></li>
                      <li><a href="{% url 'main:admissions' %}#baby-class">Baby Class</a></li>
                      <li><a href="{% url 'main:admissions' %}#nursery">Nursery</a></li>
                      <li><a href="{% url 'main:admissions' %}#pre-primary">Pre-Primary</a></li>
                      <li><a href="{% url 'main:admissions' %}#primary">Primary</a></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </li>
            <li><a href="{% url 'main:contact' %}">Contact Us</a></li>
          </ul>
          <ul class="right hide-on-med-and-down">
            <li><a class="dropdown-button" href="#!" data-activates="about">About
              <i class="material-icons right">&#xE5C5;</i>
            </a></li>
            <li><a class="dropdown-button" href="#!" data-activates="dates">Key Dates
              <i class="material-icons right">&#xE5C5;</i>
            </a></li>
            <li><a class="dropdown-button" href="#!" data-activates="admissions">Admissions
              <i class="material-icons right">&#xE5C5;</i>
            </a></li>
            <li><a href="{% url 'main:contact' %}">Contact Us</a></li>
            <ul id='about' class='dropdown-content'>
              <li><a href="{% url 'main:about' %}#grow">Grow</a></li>
              <li><a href="{% url 'main:about' %}#play">Play</a></li>
              <li><a href="{% url 'main:about' %}#learn">Learn</a></li>
              <li><a href="{% url 'main:about' %}#gallery">Gallery</a></li>
            </ul>
            <ul id='dates' class='dropdown-content'>
              <li><a href="{% url 'main:dates' %}#!">Term I</a></li>
              <li><a href="{% url 'main:dates' %}#!">Term II</a></li>
              <li><a href="{% url 'main:dates' %}#!">Term III</a></li>
            </ul>
            <ul id='admissions' class='dropdown-content'>
              <li><a href="{% url 'main:admissions' %}#day-care">Day Care</a></li>
              <li><a href="{% url 'main:admissions' %}#baby-class">Baby Class</a></li>
              <li><a href="{% url 'main:admissions' %}#nursery">Nursery</a></li>
              <li><a href="{% url 'main:admissions' %}#pre-primary">Pre-Primary</a></li>
              <li><a href="{% url 'main:admissions' %}#primary">Primary</a></li>
            </ul>
          </ul>
          <a href="#" data-activates="slide-out" class="button-collapse">
            <i class="material-icons">&#xE5D2;</i>
          </a>
        </div>
       </nav>
    </div>
  </header>
  {% endblock %}

  {% block hero %}
  <section class="row" id="hero">
    <div class="parallax-container">
      <div class="parallax hide-on-med-and-down"><img src="{% static 'main/images/4.jpg' %}" class="responsive-img" /></div>
      <div class="parallax hide-on-large-only"><img src="{% static 'main/images/11.jpg' %}" class="responsive-img" /></div>
    </div>
  </section>
  {% endblock %}

  {% block content %}
  {% endblock %}

  {% block footer %}
  <footer class="page-footer indigo">
    <div class="footer-copyright">
      <div class="container">
      &copy; 2016 Powered by StartUp Forest and Amplified Technologies
      <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
  {% endblock %}

  <!-- jQuery3 -->
  <!-- <script src="https://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script> -->
  <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

  <script src="{% static 'main/js/master.js' %}"></script>
</body>
</html>
