{% extends 'main/base.html' %}

{% load staticfiles%}

{% block title %}Kidz Next Door School | Talk to Us!{% endblock %}

{% block hero %}
{% endblock %}

{% block content %}
<section class="section container">
  <div class="header">
    <h3 class="center-align">Talk to Us!</h3>
    <p class="flow-text center-align">
      Hello. If you have any questions or want to talk to us a bit more privately, send us a message and we'll get back to you soon. How soon? Very soon. We have a Customer Care team that's always ready to answer your questions anytime between working hours.
    </p>
  </div>

  <div class="row">
    <form class="col s12" method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="input-field col s12 m6">
          <input name="name" type="text" class="validate" required />
          <label for="name">Name</label>
        </div>
        <div class="input-field col s12 m6">
          <input name="email" type="email" class="validate" required />
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input name="subject" type="text" class="validate" required />
          <label for="subject">Subject</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea name="message" class="materialize-textarea" required></textarea>
          <label for="message">Message</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <button class="btn waves-effect waves-light" type="submit" name="action">SEND
            <i class="material-icons right">&#xE163;</i>
          </button>
        </div>
      </div>
    </form>
  </div>
</section>
{% endblock %}
