{% extends 'main/base.html' %}

{% load staticfiles%}

{% block content %}
<section>
  <div class="section white">
    <div class="row">
      <article class="col s12 m7">
        <h2 class="header">Welcome</h2>
        <p class="grey-text text-darken-3 lighten-3">
          Rusinga Schools are Christian day schools offering the British National Curriculum. We have a strong commitment to academic excellence, a high level of discipline and Christian values. Children are accepted from the age of two and are able to progress through our Kindergarten, Prep and Senior schools.

          At the end of each significant level when learners are transitioning from one Key Stage to another, assessments are conducted to check their level of attainment in various skills. At the end of Kindergarten, there is a Baseline Assessment in Numeracy and Literacy Skills. At Prep School, levels are divided into two: Key Stages 1 and 2.

          At the end of Key Stage 1 (Year 2), key skills are assessed in Numeracy and Literacy. At the end of Key Stage 2 (Year 6), key skills are assessed in Numeracy and Literacy.

          In Senior School, there are three Key Stages: Key Stage 3 (Years 7-9) where they sit Checkpoint Examinations that assess knowledge and skills in English, Mathematics and Science at the end of Year 9; Key Stage 4 (IGCSE-Years 10-11) where they sit IGCSEs in a number of subjects  and Key Stage 5 (Year 12 and 13) where they sit the GCE ‘A’ Level Examinations.

          We are a caring community, with high expectations in behaviour and work in an environment of tolerance, respect and cooperation.

          We are over 40 different nationalities represented at Rusinga. We involve parents in the education of their children and work in close partnership with a number of churches to support our pastoral care programmes.
        </p>
      </article>

      <article class="col s12 offset-m1 m4">
        <h4 class="header">Contacts</h4>
        <blockquote class="grey-text text-darken-3 lighten-3">
          P.O. Box 25088 – 00603 Lavington, Nairobi <br />
          Tel: +254 20 3872290, 3872395, 3872296 <br />
          Fax: +254 20 3862358 <br />
          Mobile: +254 722205341, 0733633723, 0733633724 <br />
          Email: info@rusinga.ac.ke <br />
          Email: recruitment@rusinga.ac.ke <br />
        </blockquote>
        <div class="divider"></div><br />
        <h4 class="header">KND on Map</h4>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1994.261671002775!2d36.974832450919465!3d-1.4598359999187673!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMcKwMjcnMzUuNCJTIDM2wrA1OCczMS42IkU!5e0!3m2!1sen!2ske!4v1465409134248" width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
      </article>
    </div>
  </div>

  <div id="programmes" class="row">
    <h3 class="header center-align">Our Programmes</h3>
    <div class="divider"></div><br />

    <div class="col s12 m6">
      <a href="pages/admissions.html">
        <img src="{% static 'main/images/book2.jpg' %}" alt="" class="responsive-img card hoverable" />
        <div class="caption left-align">
          <h3>Baby Class/Play-Group</h3>
        </div>
      </a>
    </div>

    <div class="col s12 m6">
      <a href="pages/admissions.html">
        <img src="{% static 'main/images/book5.jpg' %}" alt="" class="responsive-img card hoverable" />
        <div class="caption left-align">
          <h3>Nursery</h3>
        </div>
        <a/>
    </div>

    <div class="col s12 m6">
      <a href="pages/admissions.html">
        <img src="{% static 'main/images/book.jpg' %}" alt="" class="responsive-img card hoverable" />
        <div class="caption left-align">
          <h3>Pre-Primary</h3>
        </div>
      </a>
    </div>

    <div class="col s12 m6">
      <a href="pages/admissions.html">
        <img src="{% static 'main/images/book3.jpg' %}" alt="" class="responsive-img card hoverable" />
        <div class="caption left-align">
          <h3>Primary</h3>
        </div>
      </a>
    </div>
  </div>
</section>
{% endblock %}
