body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  background-color: whitesmoke;

  display: flex;
  min-height: 100vh;
  flex-direction: column;

  main {
   flex: 1 0 auto;
 }

 .brand-logo {
  font-family: 'Raleway', sans-serif;
 }

  .parallax {
    img {
      opacity: .8;
    }
  }

  #programmes {
    div.col {
      position: relative;
      padding: 0;
      margin: 0;

      img {
        padding: 0;
        margin: 0;
        -webkit-transition: all 0.3s linear;
           -moz-transition: all 0.3s linear;
            -ms-transition: all 0.3s linear;
             -o-transition: all 0.3s linear;
                transition: all 0.3s linear;
      }

      div {
        display: none;
        position: absolute;
        z-index: 10;
        top: 40%;
        left: 20%;
        -webkit-transition: all 0.3s linear;
           -moz-transition: all 0.3s linear;
            -ms-transition: all 0.3s linear;
             -o-transition: all 0.3s linear;
                transition: all 0.3s linear;
      }

      @media only screen and (max-width: 600px) {
        div {
          display: block;
          position: absolute;
          z-index: 10;
          top: 10%;
          left: 0;
        }
      }
    }

    div.col:hover {
      img {
        opacity: .3;
      }

      div {
        display: block;
      }
    }
  }
}
