body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  background-color: whitesmoke;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }
  body main {
    flex: 1 0 auto; }
  body .brand-logo {
    font-family: 'Raleway', sans-serif; }
  body .parallax img {
    opacity: .8; }
  body #programmes div.col {
    position: relative;
    padding: 0;
    margin: 0; }
    body #programmes div.col img {
      padding: 0;
      margin: 0;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear; }
    body #programmes div.col div {
      display: none;
      position: absolute;
      z-index: 10;
      top: 40%;
      left: 20%;
      -webkit-transition: all 0.3s linear;
      -moz-transition: all 0.3s linear;
      -ms-transition: all 0.3s linear;
      -o-transition: all 0.3s linear;
      transition: all 0.3s linear; }
    @media only screen and (max-width: 600px) {
      body #programmes div.col div {
        display: block;
        position: absolute;
        z-index: 10;
        top: 10%;
        left: 0; } }
  body #programmes div.col:hover img {
    opacity: .3; }
  body #programmes div.col:hover div {
    display: block; }

/*# sourceMappingURL=master.css.map */
